.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.homepage-social-icon:hover {
	color: var(--primary-color);
}

.homepage-socials > a:nth-last-of-type(1) > .homepage-social-icon{
padding-right:0px;
}