@import "../../../data/styles.css";

.article {
	display: flex;
}



.article-left-side {
	min-width: 20%;
	max-width: 20%;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.article-right-side {
	flex-basis:80%;
	min-width: 580px;
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 0.8;
	padding-left:30px;
	padding-right:30px;
	/* margin-right: 30px; */
	padding-bottom:60px;
}

.article-right-side:hover {
	background: #fafafa;
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.article-sentence{
	padding-bottom:15px;
}

.article-date {
	font-size: 15px;
	color: black;
	text-align: center;
}
.article-image{
	min-width:50px;
	width:80%;
	max-width:90px;
}
.article img {
	min-width:inherit;
	width:100%;
	max-width:inherit;
	border-radius: 10px;
}

.article-title {
	color: #000000;
	font-size: 20px;
	font-weight: 600;
	width:100%;
}

.article-position{
	padding-top:8px;
	color:black;
	font-size:18px;
	font-weight:480;
	font-style:italic;
}

.article-description {
	padding-top: 5px;
	font-size: 17px;
	color: black;
	font-weight: 480;
	line-height: 2;
}


@media (max-width: 1024px) {
	.article-left-side {
		min-width: 20%;
		max-width: 20%;
	}

	.article-right-side {
		flex-basis:80%;
		min-width: calc(80% - 60px) ;
		/* max-width: 80%; */
	}
}
